<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>
<body>
<div th:replace="~{header :: headerFragment}"></div>
<div class="container">
    <button type="button" id="createBtn" th:onclick="|location.href='@{/new-article}'|" class="btn btn-secondary btn-sm mb-3">Create Article</button>

    <h3 th:if="${#lists.isEmpty(articles)}">No Article. Please add your article!!!</h3>
    <div th:each="article : ${articles}">
        <div class="card mb-3">
            <div class="card-header" th:text="${article.id}"></div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h5 th:text="${article.title}"></h5>
                    <p th:text="${article.content}"></p>
                    <a th:href="@{/article/{id}(id=${article.id})}">View Article</a>
                </li>
            </ul>
        </div>
    </div>
    <button type="button" class="btn btn-secondary" onclick="location.href='/logout'">LOGOUT</button>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
<script src="/js/article.js"></script>
<script src="/js/token.js"></script>
<!--<script src = "/js/**"></script>-->
</body>
</html>